/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1300px;
  max-width: 100%;
}

.img-container {
  margin: 50px;
}

.d-none {
  display: none;
}

.h-flip {
  transform: scaleX(-1);
}

/* # light switch */

#light-bulb-switch {
  padding: 10px 5px;
  min-width: 40px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 10px;
}
